html{
    font-size: 18px;
    line-height: 1.6;
    font-family: sans-serif;
}


.page{
    display: none;
    width: 100%;
    min-height: 100%;
    position: fixed;
    padding: 1rem 2rem;
}


.active{
    display: block
}

